<header class= "container anchor">
    <h1>About LifeOnTour </h1>
</header>
<h2>LifeOnTour is an online store where you can find products, including hunting,
fishing, camping, hiking, boating and wildlife-watching gear,
as well as outdoor clothing and outdoor-themed gifts and furnishings.
</h2> 
<br> <br>
<%= link_to "Check Top Selling Product", product_path(2) %>
