<header>
    <h1 class="header-title">Mountain Style </h1>
</header> </br>
<div class = "container">
	<h4>Mountain Style is an online store where you can find jewlery, cloths, accesories and gadgets with the mountain skyline shape or print. The store was created and inspired by the idea of serving people who are passionate about mountains, aspecialy beautifull Rocky Mountains.
	</h4> 
</div>


