<h1>Contact Us</h1>
<h2><ul> For customer service: (888) 888 888</h2>
    <li>Monday - Friday 8:30am-5:00pm ET</li>
    <li>Closed Saturday and Sunday</li>
</ul>
<h2><ul> To place an order via phone: (800) 800 800</h2>
    <li>Monday - Friday 8:30am-5:00pm ET</li>
    <li>Closed Saturday and Sunday</li>
</ul> </br>
