<%= image_tag("mountain_necklace.jpg" class: "img-responsive")%>
<header class= "container anchor">   
    <h1>Welcome to Mountain Style Store </h1>
    <h2>Wher you can find sport and camping equipment for your trip. </h2>
</header>
