<%= image_tag 'https://images.pexels.com/photos/594384/van-vw-travel-trip-594384.jpeg?cs=srgb&dl=asphalt-auto-automobile-594384.jpg&fm=jpg', class: "img-responsive"%>
<header class= "container anchor">   
    <h1>Welcome to LifeOnTour Store </h1>
    <h2>Wher you can find sport and camping equipment for your trip. </h2>
</header>