<div class= "container" id="thank_you">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class= "thank_you_comment">Thank you <%= @name %>. We have received your message and will respond as soon as possible.</p>
      </div><!-- / panel-body -->
    </div><!-- / panel -->
    <%= link_to "Go back to view our products", products_path %>
</div>
