// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* { box-sizing: border-box; }
 selector {
  position: relative;
  overflow: auto;
}
* {
  margin: 0;
}
body {
  background-color: #e1e3e8;
  height: 100%;
  margin-bottom: 40px;
  margin: 0px;
  padding: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
}
.header-title {
  text-align: center;
}
.page-content {
  padding-top: 50px;
}
.navbar-inverse,
.colapse {
  opacity: 0.8;
  margin-left: -15px;
  margin-right: -15px;
  background-color: grey;
  padding-right: 10px;
}
 .navbar-inverse .navbar-nav>li>a {
  color: white;
  font: 100% Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-outline: grey;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}
 .navbar-inverse .navbar-nav>li>a:hover {
  color: lightgrey;
  font-weight: 600;
  }
 .navbar-inverse .navbar-nav>.active>a {
  color: #a4107a;
  font-weight: 700;
  background-color: #646668;
}

h1 {
  font: 100% Helvetica, sans-serif;
  color: gray;
  font-size: 2.0em;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 10px;
}
h2 {
  font: 100% Helvetica, sans-serif;
  color: grey;
  font-size: 1.5em;
  padding-left: 10px;
}
h4 {
  color: grey;
  padding-left: 10px;
  text-align: center;
}
h5 {
  color: grey;
  padding-left: 10px;
}
p {
  font: 100% Helvetica, sans-serif;
  color: grey;
  font-size: 1.2em;
  padding-left: 10px;
}
.img-responsive {
  margin: auto;
  max-height: 200px;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: '';
  display: block;
  height: 142px;
}
 #copyright {
  padding-top: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.anchor {
  padding-top: 35px;
  text-align: center;
}
.carousel-inner > .item > img{
  margin:auto;
  max-height: 450px;
}
a.carousel-control {
  background-color: transparent;
}
.panel-default {
  padding-top: 70px;
  font-size: 1.5em;
  color: darkgrey;
  opacity: 0.7;
}
#thank_you {
  background-size: 100% 100%;
  margin: 0px;
  height: 100%; 
  width: 100%;
  background-image: url('http://6.s.dziennik.pl/pliki/3008000/3008792-ksiazka-900-664.jpg');
}
.contact{
  padding-left: 100px;
  padding-right: 100px;
}
footer {
  background-color: grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 3em;
}
.login-box{
  width: 360px;
  margin: 7% auto;
}
.projectName a{
  color: white;
}
.projectName a:hover{
  color: lightgrey;
}
.new-product{
  padding-left: 100px;
  padding-right: 100px;
}