// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* { box-sizing: border-box; }
 selector {
  position: relative;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  position: relative;
  background-color: #e1e3e8;
}
.navbar-inverse,
 .colapse {
  opacity: 0.8;
  margin-left: -15px;
  margin-right: -15px;
  background-color: grey;
  padding-right: 10px;
}
 .navbar-inverse .navbar-nav>li>a {
    color: white;
    font-weight: 600;
}
 .navbar-inverse .navbar-nav>.active>a {
  color: #a4107a;
  font-weight: 700;
  background-color: #646668;
}

h1 {
  font: 100% Helvetica, sans-serif;
  color: darkgray;
  font-size: 2.5em;
  font-weight: bold;
}
h2 {
  font: 100% Helvetica, sans-serif;
  color: gray;
  font-size: 1.5em;
}
p {
  font: 100% Helvetica, sans-serif;
  color: darkgrey;
  font-size: 1.2em;
}
.img-responsive {
  margin-top: 0px;
}
#footer-main {
  background-color: grey;
  width: 100%;
  height: 142px; 
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
  height: 142px;
}
 #copyright {
  padding-top: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.anchor {
  padding-top: 35px;
  text-align: center;
}