// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox {
    position: relative;
    text-align: center;
}
.form-signin {
    padding: 15px;
    margin: 0 auto;
    max-width: 330px;
    position: relative;
}
.sr-only {
    width: 1px;
    height: 1px;
    background-color: red;
    padding: 0px;
    margin: -1px;
    color: black;
}
.form-control {
    position: relative;
    height: auto;
    padding: 10px;
}
h2{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
