<div class="col-xs-12 col-sm-6 col-md-4 product">
	<% cache product do %>
    	<%= image_tag(product.image_url, class: "img-responsive") if product.image_url.present? %>
    	<h1><%= link_to product.name, product %></h1>
    	<p><%= product.description %></p>
    	<br> 
    	<h4 class="price"><strong>$<%= product.price %></strong></h4>
    <% end %>
</div>




