<p id="notice"><%= notice %></p>

<table>
  <h1>Products</h1>
  <div class="container-fluid">
    <% @products.each do |product| %>
      <%= render @products %>
    <% end %>
  </div>
</table>


<br><br><br><br>

<%= link_to 'New Product', new_product_path %>

