<p id="notice"><%= notice %></p>

<table>
  <header>
    <h1>Products</h1>
    <br>
  </header>
  <div class="container-fluid">
    <%= render @products %>
  </div>
</table>
<br><br><br><br>
<%= link_to 'New Product', new_product_path %>

